.modal-header
	h4.modal-title Task Log
.modal-body
	dl.dl-horizontal
		dt Status
		dd {{ task.status }}
		dt User
		dd {{ task.user_name }}
		dt Dry Run
		dd {{ task.dry_run }}
		dt Started
		dd {{ task.start | date:'yyyy/MM/dd HH:mm:ss' }}
		dt Ended
		dd {{ task.end | date:'yyyy/MM/dd HH:mm:ss' }}
		dt Created
		dd {{ task.created | date:'yyyy/MM/dd HH:mm:ss' }}
		dt Permalink
		dd
			a(href="{{ task.URL }}") Output
		dt Raw output
		dd: input(type="checkbox" ng-model="raw" title="show logs unbesmirched")

	textarea.scroll(readonly, scroll-glue) {{ output_formatted }}

.modal-footer
	button.btn.btn-default.pull-left(ng-click="$dismiss()") Dismiss
	button.btn.btn-danger(ng-disabled="task.status == 'waiting' || task.status == 'running'" ng-if="project_user.admin || user.admin" ng-click="remove()") delete
	//- button.btn.btn-success(ng-click="restart(task)") Re-Run
